---
import { type CollectionEntry } from "astro:content";

import Pagination from "../components/Pagination.astro";
import RootLayout from "./RootLayout.astro";
import PostsList from "@/components/PostsList.astro";
import type { Page } from "astro";
import { useTranslations } from "@/i18n";

const t = useTranslations();

interface Props {
  title: string;
  description: string;
  titleTemplate?: string;
  page: Page<CollectionEntry<"blog">>;
  robots?: string;
}

const { title, robots, page, titleTemplate, description } = Astro.props;
const hasDefaultSlot = Astro.slots.has("default");
---

<RootLayout {title} {description} {robots} {titleTemplate}>
  <div>
    <div class="py-4">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {title}
      </h1>
      {
        hasDefaultSlot && (
          <div class="prose dark:prose-invert py-4">
            <slot />
          </div>
        )
      }
    </div>
    <div class="flex sm:space-x-24">
      <div>
        <PostsList posts={page.data} showDivider={false}>
          <p slot="empty">{t('pages.home.noPosts')}</p>
        </PostsList>
        {(page.url.next || page.url.prev) && <Pagination page={page} />}
      </div>
    </div>
  </div>
</RootLayout>
